language: node_js
node_js:
- 12
script:
- npm install -g firebase-tools gulp
- gulp copy_libs
deploy:

# production
- provider: firebase
  token:
    secure: OuAmTXbpWXEPxOijY9KvSls1HhWsv/T1fy69rjHdzAcCmGr/0f56/a8YL5n52gjXKQgDtgwDNRMMbkHn6fkOwenCZtgnxSyqUR3Fn/o7FVxAGe7yG17W13mj6K3H0Uw4uqXWuxdJjLCW1Xyxfh4+FppVhGwRvvFVso/n+o6a79yGCsvnu5MHq9TCFFWoOzmi53Il/fPlB9wpkCBkNdW2Q4LHLWX/JVMQ6hNK4brBJbhoWwRObi1XsQGEG/IJTxUJffiwEgHB+dBOPEv0yPMQYfS+6onN3ZZX5AlhK7JcjbmN0fooIMAG5sxIsvSmonFnUzqhntbMDCCKBRx+6+qhOFGBMlzVMr29Btx9Pdf1Ih/8kyCR8e6Bzde/C4ek2uTGYQFQhJinX3vDqnkMimlGwksLz+31JqUPqc04Dhs+SQuD4EIhVW0PAot6fM/SgNJzPV6ZrL+LR5JPhNXcwsZjxP/r+XLuBcoDcarbJZ6CZf/ry8fhlrBpsUe1Ib7TdqPsBTNVt7RwCL14xaPwnrpu+jnDNVIsDkxyGKFPvxF02b6sbwGvj1Abx9se/qR3hdI9hNn6kInoWsxa/S8UFfcxXtLxWIW02TMSmmJmgdFrkAiN6X6QfiNDvYnA2//+w3xtZ13fInHqjxF3EVABHicvky9Ip9S+hCWPflPIHcOIL2E=
  project: mlab-oti
  edge: true
  only: hosting:speedtest
  on:
    repo: m-lab/mlab-speedtest  
    tags: true

# sandbox
- provider: firebase
  token:
    secure: OuAmTXbpWXEPxOijY9KvSls1HhWsv/T1fy69rjHdzAcCmGr/0f56/a8YL5n52gjXKQgDtgwDNRMMbkHn6fkOwenCZtgnxSyqUR3Fn/o7FVxAGe7yG17W13mj6K3H0Uw4uqXWuxdJjLCW1Xyxfh4+FppVhGwRvvFVso/n+o6a79yGCsvnu5MHq9TCFFWoOzmi53Il/fPlB9wpkCBkNdW2Q4LHLWX/JVMQ6hNK4brBJbhoWwRObi1XsQGEG/IJTxUJffiwEgHB+dBOPEv0yPMQYfS+6onN3ZZX5AlhK7JcjbmN0fooIMAG5sxIsvSmonFnUzqhntbMDCCKBRx+6+qhOFGBMlzVMr29Btx9Pdf1Ih/8kyCR8e6Bzde/C4ek2uTGYQFQhJinX3vDqnkMimlGwksLz+31JqUPqc04Dhs+SQuD4EIhVW0PAot6fM/SgNJzPV6ZrL+LR5JPhNXcwsZjxP/r+XLuBcoDcarbJZ6CZf/ry8fhlrBpsUe1Ib7TdqPsBTNVt7RwCL14xaPwnrpu+jnDNVIsDkxyGKFPvxF02b6sbwGvj1Abx9se/qR3hdI9hNn6kInoWsxa/S8UFfcxXtLxWIW02TMSmmJmgdFrkAiN6X6QfiNDvYnA2//+w3xtZ13fInHqjxF3EVABHicvky9Ip9S+hCWPflPIHcOIL2E=
  project: mlab-sandbox
  edge: true
  only: hosting:speedtest
  on:
    branch: sandbox-*
    condition: "$TRAVIS_EVENT_TYPE == push"