name: Lint GitHub Actions workflows

'on':
  push:
    branches:
      - main
    paths:
      - '.github/workflows/**.yml'
  pull_request:
    paths:
      - '.github/workflows/**.yml'

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  actionlint:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v4
      - name: Lint GitHub Actions workflow files
        uses: rhysd/actionlint@v1.7.7
